# btms-portal-frontend
AUTH_DEFRA_ID_CLIENT_ID=client_id
AUTH_DEFRA_ID_CLIENT_SECRET=client_secret
AUTH_DEFRA_ID_CLIENT_SECRET_RENEWAL=client_secret_renewal
AUTH_DEFRA_ID_ORGANISATIONS=organisations
AUTH_DEFRA_ID_SERVICE_ID=service_id

AUTH_ENTRA_ID_ADMIN_GROUP_ID=admin_group_id
AUTH_ENTRA_ID_CLIENT_ID=client_id
AUTH_ENTRA_ID_CLIENT_SECRET=client_secret
AUTH_ENTRA_ID_CLIENT_SECRET_RENEWAL=client_secret_renewal
AUTH_ENTRA_ID_SCOPES=scopes
AUTH_ENTRA_ID_SECURITY_GROUPS=security_groups
